<h1>Welcome the reactive Form Tutorail</h1>

<form [formGroup]="signUp" (ngSubmit)="registrationFn()">
    <div>
      <label for="firstName">First Name</label> <br>
      <input type="text" name="firstName" id="firstName" placeholder="First Name" formControlName="firstName" 
      [ngClass]="{error: getControl('firstName')?.invalid  && getControl('firstName')?.touched}">
    </div>
    <div>
      <label for="lastName">First Name</label> <br>
      <input type="text" name="lastName" id="lastName" placeholder="Last Name" formControlName="lastName"
      [ngClass]="{error: getControl('lastName')?.invalid  && getControl('lastName')?.touched}">
    </div>
    <div>
      <label for="email">Email</label> <br>
      <input type="text" name="email" id="email" placeholder="Email" formControlName="email"
      [ngClass]="{error: getControl('email')?.invalid  && getControl('email')?.touched}">
    </div>
    <div>
      <label for="password">Password</label> <br>
      <input type="password" name="password" id="password" placeholder="Password" formControlName="password"
      [ngClass]="{error: getControl('password')?.invalid  && getControl('password')?.touched}">
    </div>
    <div>
      <button type="submit" [disabled]="signUp.status==='INVALID'">Submit</button>
    </div>

</form>